h1, h2, h3, h4, h5, h6, a, button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    /* color: yellow; */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header > a {
    text-decoration: none;
    color: yellow;
    display: flex;
}

header > a > div > h3 {
    margin-top: -20%;
    font-family: 'Courier New', Courier, monospace;
}

header > a > div > h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header > a > img {
    height: 70px;
    margin-top: 6% ;
}

header > nav > ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

header > nav > ul> li {
    list-style: none;
}

header > nav > ul> li > a {
    color: yellow;
    text-decoration: none;
}

body{
    background-color: black;
}

/* ABOUT STYLE */
.row{
    display: flex;
    background-color: black;
    display-direction: row;
    align-items: center;
    margin-top: 100px;
    color: white;
}

.abt{
    margin-left: 5%;
    margin-top: 0%;

}

.can{
    display: flex;
    display-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 8%;
}

.cand{
    display: flex;
    background-color: rgb(10, 10, 10);
    margin-top: 5%;
    height: 200px;
    width: 90vw;
    margin-left: 5%;

}

.candy{
    color: white;
    margin-left: 8%;
}

button{
    background-color: yellow;
    width: 45%;
    height: 6vh;
    margin-left: 2%;
    margin-top: 2%;
    border-style: none;
}
