h1, h2, h3, h4, h5, h6, a, button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    /* color: yellow; */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header > a {
    text-decoration: none;
    color: yellow;
}

header > nav > ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

header > nav > ul> li {
    list-style: none;
}

header > nav > ul> li > a {
    color: yellow;
    text-decoration: none;
}

body{
    background-color: black;
}
 
/* OUR CHEFS STYLE */

.chef{
    display: flex;
    background-color: rgb(13, 13, 13);
}

.our{
    color: white;
    text-align: center;
    margin-left: 5%;

    
}
.cheff{
    display-direction: row;
    margin-top: 3%;

}

img{
    margin: 20px;
    
}
.name{
    display: flex;
    display-direction: row;
    justify-content: space-between;
    margin-top: -2%;
}
.foodcheff{
    display: flex;
    display-direction: row;
    justify-content: space-between;
    margin-top: -2%;
}
.icon{
    display: flex;
    display-direction: row;
    margin-top: -1%;
    /* justify-content: center; */
}
.hilda{
    margin-left: 3%;
}
.dammy{
    margin-left: 16%;
}
.magic{
    margin-left: 16%;
}
.vee{
    margin-left: 14%;
}


























