/* CSS Reset */
body, html {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a, button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    /* color: yellow; */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header > a {
    text-decoration: none;
    color: yellow;
}

header > nav > ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

header > nav > ul> li {
    list-style: none;
}

header > nav > ul> li > a {
    color: yellow;
    text-decoration: none;
}

body{
    background-color: black;
}

.head{
    display: flex;
    justify-content: center;
    gap: 25px;
}

div > img{
    margin-top: 5%;
    height: 15vh;
}

div > h1 {
    color: white;
    font-size: 45px;
    margin-top: 6%;
}

div.carry > div.con {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

div.carry > div.con > div.box1{
    display: flex;
    align-items: center;
    margin-left: 5%;
}
div.carry > div.con > div.box1 > img {
    height: 40px;
}

div.carry > div.con > div.box2{
    display: flex;
    align-items: center;
}
div.carry > div.con > div.box2 > img {
    height: 40px;
}

div.carry > div.con > div.box3{
    display: flex;
    align-items: center;
}
div.carry > div.con > div.box3 > img {
    height: 40px;
}

div.carry > div.con > div > a > img{
    height: 20px;
}

div.carry > div.con > div.log {
    margin-top: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    gap: 60px;
}


div.carry > div.con1 {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    width: 60%;
}

div.carry > div.con1 > p {
    color: white;
}

div.carry > div.con1 > h3 {
    color: yellow;
}