/* CSS Reset */
body, html {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a, button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header Style */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header > a {
    text-decoration: none;
    color: yellow;
    display: flex;
}

header > a > div > h3 {
    margin-top: -20%;
    font-family: 'Courier New', Courier, monospace;
}

header > a > div > h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header > a > img {
    height: 70px;
    margin-top: 6% ;
}

header > nav > ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

header > nav > ul> li {
    list-style: none;
}

header > nav > ul> li > a {
    color: yellow;
    text-decoration: none;
}

body{
    background-image: url(./Background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

div > h1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: white;
    font-size: 10ex;
    margin-left: 2%;
}

#food{
    margin-top: -3%;
}

div > p {
    color: white;
    width: 50%;
    margin-left: 2%;
}

button{
    background-color: yellow;
    width: 15%;
    height: 6vh;
    margin-left: 2%;
    margin-top: 2%;
    border-style: none;
}

/* FOOTER STYLE */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
}
